/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color:#0C90AD;
    --primary-color: #E9E7E7;
    /* --primary-color-light: #F6F5FF; */
    --toggle-color: #DDD;
    --text-color: white;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    /* background-color: var(--body-color); */
    transition: var(--tran-05);
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: black;
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}


.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.current {
    color:black;
}



.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}


.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}


.home{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 250px;
    height: 150vh;
    width: calc(100% - 250px);
    background-color: white;
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: black;
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 130vh;
    width: calc(100% - 78px);
}



/* Footer (Start)*/

.footer-container{
    padding: 20px 0px;
    background: #C4C4C4;
    padding-bottom: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

.footer-container ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.6;
    text-align: center;
}

.footer-container ul li{
    display: inline-block;
    padding: 0px 15px;
    opacity: 0.8;
}

.footer-container ul li a{
    color: black;
    text-decoration: none;
    opacity: 0.8;
}

.footer-container ul li a:hover{
    opacity: 1;
}

.footer-container .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(122, 120, 120);
}

/* Footer (Ends)*/



a, a:hover{
    text-decoration: none;
}

.header2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 25px;
}


.header2 ul{
    list-style: none;
    display: flex;
}

.header2 li{
    margin: 0px 5px;
}

.header2 a{
    color: #222;
}

.header2 a:hover{
    color: blue;
}

.Log-Out {
	outline: none;
	box-sizing: border-box;
	margin-bottom: 40px;
}

.Log-Out{
	padding-left: 0;
	background-color: #0C90AD;
    font-size: 15px;
    border: none;
    width: 90px;
    height: 30px;
    color: white;
    box-shadow: 0 0 10px #333;
}

.Log-Out:hover{
	box-shadow: 2px 2px 5px #555;
	background-color: #326674;
}

.banner{
    background: #E9E7E7;
    height: 130px;
    margin-right: 20%;
    margin-left: 10%
}
.banner-text1{
    margin-left: 50px;
    padding-top: 0px;
    margin-top: 0;
    font-size: larger;
}

.banner-text2{
    margin-left: 50px;
    padding-top: 20px;
}

.cross{
    margin-left: 95%;
    font-size: large;
}

.cross:hover{
    color:red;
}

/* For making bannersresponisve (start) */
@media screen and (max-width: 868px){
	.banner{
        height: 160px;
    }
}

@media screen and (max-width: 568px){
	.banner{
        height: 200px;
    }
}


/* Cards Start */
.wrapper{
	width: 100%;
	height: 60%;
	color: #222;
	text-align: center;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 900;
}

.cards_wrap{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards_wrap .card_item{
    padding: 15px 15px;
    width: 33%;
}

.cards_wrap .card_inner{
    background: rgb(255, 252, 252);
    box-shadow: #222;
    border-radius: 5px;
    padding: 35px 20px;
    min-width: 225px;
    min-height: 250px;
    max-height: 300px;
    width: 100%;
    box-shadow: 0 0 5pt 0.5pt #9e9c9c;
}

.cards_wrap .card_item img{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.cards_wrap .card_item .University-Name{
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 20px;
    color: #020202;
}

.Uni-Links{
    color: inherit;
}

/* Cards End */


/* Search box starts here */
.searchbox{
    position: absolute;
    top:100px;
    left:55%;
    width: 90%;
    transform: translate(-50%,-50%);
    box-shadow: #222;
}

.searchbox input[type="search"]{
    width: 75%;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
    box-shadow: 0 0 5pt 0.5pt #9e9c9c;
}

.searchbox input[type="submit"]{
    position: relative;
    border-radius: 0 25px 25px 0 ; 
    height: 50px;
    width:120px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #333;
    color: white;
    margin-left: 0;
    box-shadow: 0 0 5pt 0.5pt #9e9c9c;
}

.searchbox input[type="submit"]:hover{
    background-color: rgb(128, 121, 121);
}
.searchinput{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
}
/* Search Box ends */

/* For making univeristy name cards responisve (start) */
@media screen and (max-width: 1024px){
	.cards_wrap .card_item{
		width: 33%;
	}
}


@media screen and (max-width: 968px){
	.cards_wrap .card_item{
		width: 50%;
	}
	.wrapper .header{
		font-size: 16px;
		height: 60px;
	}

    .sidebar.close ~ .home{
        left: 78px;
        height: 150vh;
        width: calc(100% - 78px);
    }
}

@media screen and (max-width: 768px){
	.cards_wrap .card_item{
		width: 100%;
	}
	.wrapper .header{
		font-size: 14px;
        
	}
    .home{
        height: 280vh;
    }
    .sidebar.close ~ .home{
        left: 78px;
        height: 280vh;
        width: calc(100% - 78px);
    }

    .searchbox input[type="search"]{
        width:70%;
    }

    .searchbox input[type="submit"]{
        width:15%;
    }
}

/* For making univeristy name cards responisve (end) */

/* especiallyy for mobile devices */
@media screen and (max-width: 480px){
	.banner{
        height: 250px;
    }

    .home{
        height: 380vh;
    }
}

